.app {
  display: grid;
  place-items: center; /* will place element vertically and horizontally */
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .app__body {
    height: 95vh;
    width: 100vw;
    margin: 0px;
  }
  .app {
    display: grid;
    place-items: center;
    height: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  .app__body {
    height: 95vh;
    width: 100vw;
    margin: 0px;
  }
  .app {
    height: 0;
  }
}
